# ── Resources ──
RESOURCES=./Resources
GTEX_DIR=/path/to/GTEx/dir
GENOME_REFERENCE_HG19=/path/to/genome/all.fa
VARICARTA_PATH=/path/to/variants/file
VEP_CACHE=/path/to/vep/cache
EXPRESSION_DATA_PATH=${GTEX_DIR}/gene_tpm_file.gz
SAMPLE_ATTRIBUTES_PATH=${GTEX_DIR}/SampleAttributes.txt
SUBJECT_ATTRIBUTES_PATH=${GTEX_DIR}/SubjectPhenotypes.txt
SFARI_GENES=${RESOURCES}/SFARI-Gene_genes_file.csv

# ── Directories ──
OUTPUT_DIR=./Output
DB_DIR=./db
POSTGRES_DIR=${DB_DIR}/postgres

# ── Processing ──
# Adjust these based on your local machine's hardware capabilities
MAX_FORKS=4
BLAT_WORKERS=4

# ── BLAT & Genome References ──
BLAT_PATH=/path/to/miniconda3/envs/blat_env/bin/blat
CDS_REFERENCE=${RESOURCES}/path/to/cds.fa
MANE_CDS_REFERENCE=${RESOURCES}/path/to/MANE_cds.fna

# -- Server Configuration --
SERVER_HOST=localhost


# ── VEP API ──
GRCH37_VEP_SERVER=https://grch37.rest.ensembl.org
GRCH38_VEP_SERVER=https://rest.ensembl.org
VEP_REGION_EXT=/vep/human/region?CADD=1&AlphaMissense=1&pick=1
VEP_HGVS_EXT=/vep/human/hgvs?CADD=1&AlphaMissense=1&pick=1

# ── Postgres ──
POSTGRES_DOCKER_CONTAINER=asd_adar_postgres
POSTGRES_DB=asd_adar_db
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_PORT=5435

# ── Hasura / GraphQL ──
HASURA_DOCKER_CONTAINER=asd_adar_hasura
GRAPHQL_PORT=8789
HASURA_ADMIN_SECRET=CHANGE_ME_HASURA_SECRET
HASURA_URL=http://${SERVER_HOST}:${GRAPHQL_PORT}/v1/graphql


# ── Docker ──
# Run `id -u` and `id -g` in your terminal to find your local user and group IDs
USER_ID=1000
GROUP_ID=1000